{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">
      <h2><b>Player</b></h2>
      1	&nbsp	.Ark	<br>
2	&nbsp	4	<br>
3	&nbsp	123	<br>
4	&nbsp	13abyKnight	<br>
5	&nbsp	1437	<br>
6	&nbsp	19teen	<br>
7	&nbsp	23savage	<br>
8	&nbsp	290	<br>
9	&nbsp	2hoi	<br>
10	&nbsp	33	<br>
11	&nbsp	343	<br>
12	&nbsp	444	<br>
13	&nbsp	458	<br>
14	&nbsp	4dr	<br>
15	&nbsp	5up	<br>
16	&nbsp	633	<br>
17	&nbsp	820	<br>
18	&nbsp	876	<br>
19	&nbsp	897	<br>
20	&nbsp	9pasha	<br>
21	&nbsp	@dogf1ghts	<br>
22	&nbsp	[T]SA	<br>
23	&nbsp	aabBAA	<br>
24	&nbsp	Ab1ng	<br>
25	&nbsp	Abat	<br>
26	&nbsp	Abed	<br>
27	&nbsp	Abeng	<br>
28	&nbsp	Accel	<br>
29	&nbsp	Accell	<br>
30	&nbsp	Ace	<br>
31	&nbsp	Acil	<br>
32	&nbsp	Admiration	<br>
33	&nbsp	Adzantick	<br>
34	&nbsp	Afoninje	<br>
35	&nbsp	AfrOmoush	<br>
36	&nbsp	AfterLife	<br>
37	&nbsp	Agressif	<br>
38	&nbsp	ah fu	<br>
39	&nbsp	Ahilles	<br>
40	&nbsp	Ahjit	<br>
41	&nbsp	Ainkrad	<br>
42	&nbsp	Air	<br>
43	&nbsp	Airu	<br>
44	&nbsp	Akke	<br>
45	&nbsp	AlaCrity	<br>
46	&nbsp	ALOHADANCE	<br>
47	&nbsp	ALWAYSWANNAFLY	<br>
48	&nbsp	Ame	<br>
49	&nbsp	ana	<br>
50	&nbsp	Andrej Porjazovski	<br>
51	&nbsp	Apemother	<br>
52	&nbsp	Aq	<br>
53	&nbsp	ar3a1234	<br>
54	&nbsp	Aramis	<br>
55	&nbsp	Arise	<br>
56	&nbsp	Ariunbolor	<br>
57	&nbsp	Armel	<br>
58	&nbsp	Arms	<br>
59	&nbsp	ArrOw	<br>
60	&nbsp	Arteezy	<br>
61	&nbsp	                BOOM	<br>
62	&nbsp	            Boombacs	<br>
63	&nbsp	            boombell	<br>
64	&nbsp	            BoraNija	<br>
65	&nbsp	               Boris	<br>
66	&nbsp	           bowbowbow	<br>
67	&nbsp	                Boxi	<br>
68	&nbsp	                Brax	<br>
69	&nbsp	             BrayaNt	<br>
70	&nbsp	              brink	<br>
71	&nbsp	              Bryle	<br>
72	&nbsp	                BSJ	<br>
73	&nbsp	               bubu	<br>
74	&nbsp	      BungsellRotee	<br>
75	&nbsp	    ButterflyEffect	<br>
76	&nbsp	              Buugi	<br>
77	&nbsp	                BYB	<br>
78	&nbsp	              Cak3z	<br>
79	&nbsp	             Calvin	<br>
80	&nbsp	           canceL^^	<br>
81	&nbsp	          Candyloon	<br>
82	&nbsp	               Carn	<br>
83	&nbsp	             carrot	<br>
84	&nbsp	             cas158	<br>
85	&nbsp	           Castaway	<br>
86	&nbsp	             CatYou	<br>
87	&nbsp	                Ceb	<br>
88	&nbsp	      CemaTheSlayer	<br>
89	&nbsp	             Ceyler	<br>
90	&nbsp	             Chains	<br>
91	&nbsp	            Chalice	<br>
92	&nbsp	               Chao	<br>
93	&nbsp	            ChaoYue	<br>
94	&nbsp	            Chappie	<br>
95	&nbsp	       CharlieDota	<br>
96	&nbsp	              Chawy	<br>
97	&nbsp	           Chessie	<br>
98	&nbsp	            Chibix	<br>
99	&nbsp	           Chrillee	<br>
100	&nbsp	        Chris Luck	<br>
101	&nbsp	            chshrct	<br>
102	&nbsp	             ChuaN	<br>
103	&nbsp	            Chuvash	<br>
104	&nbsp	            ChYuan	<br>
105	&nbsp	                 ck	<br>
106	&nbsp	                cml	<br>
107	&nbsp	         ComeWithMe	<br>
108	&nbsp	        Cookie bear	<br>
109	&nbsp	             Cooman	<br>
110	&nbsp	              Corey	<br>
111	&nbsp	         Costabile	<br>
112	&nbsp	              Cr1t-	<br>
113	&nbsp	            craNich	<br>
114	&nbsp	              Crazy	<br>
115	&nbsp	             Crio_J	<br>
116	&nbsp	            Crowley	<br>
117	&nbsp	           Crydasia	<br>
118	&nbsp	         Crystallis	<br>
119	&nbsp	        Crystallize	<br>
120	&nbsp	              csj              	<br>
121	&nbsp	Cty	<br>
122	&nbsp	          CURRY	<br>
123	&nbsp	               Cy	<br>
124	&nbsp	          CyNiCaL	<br>
125	&nbsp	             cYso	<br>
126	&nbsp	        D4574N-SG	<br>
127	&nbsp	      dabeliuteef	<br>
128	&nbsp	             Dale	<br>
129	&nbsp	        Damaroo	<br>
130	&nbsp	            dark	<br>
131	&nbsp	        Darkmago	<br>
132	&nbsp	           Datbb	<br>
133	&nbsp	           Daxak	<br>
134	&nbsp	              DD	<br>
135	&nbsp	             ddc	<br>
136	&nbsp	             DDR	<br>
137	&nbsp	            DDX-	<br>
138	&nbsp	            ddz           	<br>
139	&nbsp	Dendi	<br>
140	&nbsp	            Derp	<br>
141	&nbsp	         destiny	<br>
142	&nbsp	            Deth	<br>
143	&nbsp	        Ditya Ra	<br>
144	&nbsp	             DJ	<br>
145	&nbsp	          Django	<br>
146	&nbsp	         DkFogas	<br>
147	&nbsp	              DM	<br>
148	&nbsp	             dnz	<br>
149	&nbsp	          Doctor	<br>
150	&nbsp	          doodle	<br>
151	&nbsp	           dream	<br>
152	&nbsp	       Dreamocel	<br>
153	&nbsp	         DreamyU	<br>
154	&nbsp	            Drew	<br>
155	&nbsp	         Dstones	<br>
156	&nbsp	         Dukalis	<br>
157	&nbsp	        Dulashtr	<br>
158	&nbsp	          Dunha1	<br>
159	&nbsp	        DurpDurp	<br>
160	&nbsp	            Dust	<br>
161	&nbsp	          Duster	<br>
162	&nbsp	     Dutch_Freak	<br>
163	&nbsp	             DXM	<br>
164	&nbsp	              Dy	<br>
165	&nbsp	        DyrachYO	<br>
166	&nbsp	           Eagle	<br>
167	&nbsp	          Ecnart	<br>
168	&nbsp	             EGM	<br>
169	&nbsp	             eGo	<br>
170	&nbsp	            eine	<br>
171	&nbsp	            Eixn	<br>
172	&nbsp	       eL lisasH	<br>
173	&nbsp	          eLeVeN	<br>
174	&nbsp	            Elmo	<br>
175	&nbsp	             Emo	<br>
176	&nbsp	           Eosin	<br>
177	&nbsp	    epileptick1d	<br>
178	&nbsp	             Era	<br>
179	&nbsp	        eresloco	<br>
180	&nbsp	           Ergon	<br>
181	&nbsp	          Erica	<br>
182	&nbsp	          Erice	<br>
183	&nbsp	         Eskillz	<br>
184	&nbsp	     EternaLEnVy           	<br>
185	&nbsp	Eurus	<br>
186	&nbsp	             Eve	<br>
187	&nbsp	             Ewe	<br>
188	&nbsp	    Exotic_Deer	<br>
189	&nbsp	          eyyou	<br>
190	&nbsp	           f(x)	<br>
191	&nbsp	     Facehugger	<br>
192	&nbsp	           Fade	<br>
193	&nbsp	          Faith	<br>
194	&nbsp	     Faith_bian	<br>
195	&nbsp	            FaN	<br>
196	&nbsp	        Fantasy	<br>
197	&nbsp	           Fata	<br>
198	&nbsp	            Fbz	<br>
199	&nbsp	           Fear	<br>
200	&nbsp	       Fearless	<br>
201	&nbsp	          Feero	<br>
202	&nbsp	         Feimao	<br>
203	&nbsp	    FelixCiaoBa	<br>
204	&nbsp	         Fenrir	<br>
205	&nbsp	    Ferrari_430	<br>
206	&nbsp	        Fervian	<br>
207	&nbsp	            Fey	<br>
208	&nbsp	          Fezor	<br>
209	&nbsp	      Firestorm	<br>
210	&nbsp	       Fishbone	<br>
211	&nbsp	        Fishman	<br>
212	&nbsp	           Five	<br>
213	&nbsp	         FiXeRs	<br>
214	&nbsp	          Flash	<br>
215	&nbsp	           Flow	<br>
216	&nbsp	    FLUFFNSTUFF	<br>
217	&nbsp	            Fly	<br>
218	&nbsp	           Fly.	<br>
219	&nbsp	         flyfly	<br>
220	&nbsp	    FlyingZebra	<br>
221	&nbsp	        Flysolo	<br>
222	&nbsp	         Flywin	<br>
223	&nbsp	             fn	<br>
224	&nbsp	            fng	<br>
225	&nbsp	          Focus	<br>
226	&nbsp	          Fonte	<br>
227	&nbsp	          Forev	<br>
228	&nbsp	           Foxx	<br>
229	&nbsp	          fozzy	<br>
230	&nbsp	     FrancisLee	<br>
231	&nbsp	          Frank	<br>
232	&nbsp	     Frigoleet	<br>
233	&nbsp	       Froogoss	<br>
234	&nbsp	          Frost	<br>
235	&nbsp	            Fun	<br>
236	&nbsp	         Funn1k	<br>
237	&nbsp	         Funzii	<br>
238	&nbsp	                Fury	<br>
239	&nbsp	                 fy	<br>
240	&nbsp	                FzFz	<br>
241	&nbsp	                  G	<br>
242	&nbsp	               Gabbi	<br>
243	&nbsp	           Gambling	<br>
244	&nbsp	              Garder	<br>
245	&nbsp	              garter	<br>
246	&nbsp	              Gatciy	<br>
247	&nbsp	             Gedrox	<br>
248	&nbsp	             Gee'za	<br>
249	&nbsp	            GeneRaL	<br>
250	&nbsp	      german player	<br>
251	&nbsp	                GGS	<br>
252	&nbsp	         GGwpLanaya	<br>
253	&nbsp	                 GH	<br>
254	&nbsp	              ghost	<br>
255	&nbsp	              Ghost	<br>
256	&nbsp	           Ghostik	<br>
257	&nbsp	           Gibkiy	<br>
258	&nbsp	              GiGA	<br>
259	&nbsp	             Gilgir	<br>
260	&nbsp	            Gintoki	<br>
261	&nbsp	                Gio	<br>
262	&nbsp	              gnoji	<br>
263	&nbsp	            GoAudio	<br>
264	&nbsp	              GOD_Z	<br>
265	&nbsp	             goddam	<br>
266	&nbsp	              Godot	<br>
267	&nbsp	             goking	<br>
268	&nbsp	              Gorec	<br>
269	&nbsp	              Gorgc	<br>
270	&nbsp	                gpk	<br>
271	&nbsp	             Greedy	<br>
272	&nbsp	             Grimzx	<br>
273	&nbsp	            Grizine	<br>
274	&nbsp	             guanzo	<br>
275	&nbsp	              Gudii	<br>
276	&nbsp	             Gunnar	<br>
277	&nbsp	              Gurin	<br>
278	&nbsp	             Guvara	<br>
279	&nbsp	              H4nn1	<br>
280	&nbsp	           Handsken	<br>
281	&nbsp	             Hannah	<br>
282	&nbsp	     HANNAH_MONTANA	<br>
283	&nbsp	                Hao	<br>
284	&nbsp	       HappyDyurara	<br>
285	&nbsp	               hAze	<br>
286	&nbsp	             Heromu	<br>
287	&nbsp	    HesteJoe-Rotten	<br>
288	&nbsp	              hex0r	<br>
289	&nbsp	                hFn                	<br>
290	&nbsp	Hmx	<br>
291	&nbsp	              Hook-	<br>
292	&nbsp	             HooNji	<br>
293	&nbsp	                Htz	<br>
294	&nbsp	             Huppey	<br>
295	&nbsp	              Husky	<br>
296	&nbsp	             Hustla                 	<br>
297	&nbsp	Hy	<br>
298	&nbsp	               Hyac	<br>
299	&nbsp	               Hyde	<br>
300	&nbsp	               hyhy	<br>
301	&nbsp	               Hyko	<br>
302	&nbsp	                Hym	<br>
303	&nbsp	        iAnnihilate	<br>
304	&nbsp	                Ice	<br>
305	&nbsp	            Iceberg	<br>
306	&nbsp	            iceice	<br>
307	&nbsp	         iceiceice	<br>
308	&nbsp	               Icy	<br>
309	&nbsp	            Ifr1t!	<br>
310	&nbsp	             Ifrit	<br>
311	&nbsp	            illias	<br>
312	&nbsp	           ilLogic	<br>
313	&nbsp	          illusion	<br>
314	&nbsp	       iLLusionisT	<br>
315	&nbsp	              iLTW	<br>
316	&nbsp	    ima_sheep(sux)	<br>
317	&nbsp	             Imba4	<br>
318	&nbsp	         Immersion	<br>
319	&nbsp	            InJuly	<br>
320	&nbsp	        Inkvizitor	<br>
321	&nbsp	            InsaNe	<br>
322	&nbsp	           iNSaNiA	<br>
323	&nbsp	       inYourdreaM	<br>
324	&nbsp	               ISI	<br>
325	&nbsp	          ixmike88	<br>
326	&nbsp	                 J	<br>
327	&nbsp	                j4	<br>
328	&nbsp	             Jabbz	<br>
329	&nbsp	              Jabz	<br>
330	&nbsp	            Jackal	<br>
331	&nbsp	            JaCkky	<br>
332	&nbsp	             Jacko	<br>
333	&nbsp	             jAM3S	<br>
334	&nbsp	             James	<br>
335	&nbsp	            Jamesy	<br>
336	&nbsp	           Jaunuel	<br>
337	&nbsp	               jdh	<br>
338	&nbsp	           Jeimari	<br>
339	&nbsp	           Jenkins	<br>
340	&nbsp	             JerAx	<br>
341	&nbsp	           Jericho	<br>
342	&nbsp	      JessieVash	<br>
343	&nbsp	       JesusSt1ck	<br>
344	&nbsp	              Jeyo	<br>
345	&nbsp	                JG	<br>
346	&nbsp	            Jhocam	<br>
347	&nbsp	            Jhoven	<br>
348	&nbsp	            JiaJia	<br>
349	&nbsp	            Jieang	<br>
350	&nbsp	       jigglebilly	<br>
351	&nbsp	            Jixing	<br>
352	&nbsp	            JoHnNy	<br>
353	&nbsp	       jonassomfan	<br>
354	&nbsp	            Joraal	<br>
355	&nbsp	               Jst	<br>
356	&nbsp	             JT-	<br>
357	&nbsp	           Jubei	<br>
358	&nbsp	            Julz	<br>
359	&nbsp	            June	<br>
360	&nbsp	            JUST	<br>
361	&nbsp	          justin	<br>
362	&nbsp	             JyC	<br>
363	&nbsp	             JyU	<br>
364	&nbsp	              K1	<br>
365	&nbsp	          kacor	<br>
366	&nbsp	           KaHT	<br>
367	&nbsp	            Kai	<br>
368	&nbsp	        kaidou	<br>
369	&nbsp	           Kaka	<br>
370	&nbsp	          Kamma	<br>
371	&nbsp	           KaNG	<br>
372	&nbsp	           Karl	<br>
373	&nbsp	           Kazl	<br>
374	&nbsp	           Kazz	<br>
375	&nbsp	          Kebap	<br>
376	&nbsp	     Kecik Imba	<br>
377	&nbsp	          Kefka	<br>
378	&nbsp	            Ken	<br>
379	&nbsp	          Kenji	<br>
380	&nbsp	         KeyaNo	<br>
381	&nbsp	         Keyser	<br>
382	&nbsp	      Khezcute	<br>
383	&nbsp	          KheZu	<br>
384	&nbsp	        kickeed	<br>
385	&nbsp	         Kidaro	<br>
386	&nbsp	         Kikoni	<br>
387	&nbsp	    Killomancer	<br>
388	&nbsp	          KingJ	<br>
389	&nbsp	          KingR	<br>
390	&nbsp	         Kingrd	<br>
391	&nbsp	       Kingteka	<br>
392	&nbsp	         Kitrak	<br>
393	&nbsp	             KJ	<br>
394	&nbsp	        Klotz22	<br>
395	&nbsp	            KNP	<br>
396	&nbsp	          Kodos	<br>
397	&nbsp	           kole	<br>
398	&nbsp	          Korok	<br>
399	&nbsp	           kpii	<br>
400	&nbsp	         krylat	<br>
401	&nbsp	            KSi	<br>
402	&nbsp	           Kuku	<br>
403	&nbsp	         KuroKy	<br>
404	&nbsp	            KvH	<br>
405	&nbsp	            Kxy	<br>
406	&nbsp	            KyT	<br>
407	&nbsp	           kYxY	<br>
408	&nbsp	        L0lik_O	<br>
409	&nbsp	         Lanaro	<br>
410	&nbsp	          Lance	<br>
411	&nbsp	           LaNm	<br>
412	&nbsp	          Lapiz	<br>
413	&nbsp	           Last	<br>
414	&nbsp	       LastHero	<br>
415	&nbsp	              Leaf	<br>
416	&nbsp	        LeBronDota	<br>
417	&nbsp	             Lelis	<br>
418	&nbsp	               Leo	<br>
419	&nbsp	         LeoStyle-	<br>
420	&nbsp	        Lesserblue	<br>
421	&nbsp	         lightless	<br>
422	&nbsp	               Lil	<br>
423	&nbsp	         lil sorry	<br>
424	&nbsp	         Lil_kin6	<br>
425	&nbsp	            Limmp	<br>
426	&nbsp	              Lin	<br>
427	&nbsp	             ling	<br>
428	&nbsp	             Link	<br>
429	&nbsp	           LionaX	<br>
430	&nbsp	            Lirik	<br>
431	&nbsp	           Lodine	<br>
432	&nbsp	           LokarN	<br>
433	&nbsp	            longb	<br>
434	&nbsp	           LongDD	<br>
435	&nbsp	        lordboonz	<br>
436	&nbsp	          Lorenof	<br>
437	&nbsp	     Loseyourself	<br>
438	&nbsp	            Loski	<br>
439	&nbsp	    loveyouloveme	<br>
440	&nbsp	           lowkez	<br>
441	&nbsp	               lt	<br>
442	&nbsp	            Lubby	<br>
443	&nbsp	          Luciano	<br>
444	&nbsp	              Luk	<br>
445	&nbsp	           LuLu^^	<br>
446	&nbsp	              Lww	<br>
447	&nbsp	              Lwy	<br>
448	&nbsp	              Mac	<br>
449	&nbsp	              Mad	<br>
450	&nbsp	           Madara	<br>
451	&nbsp	           Madara	<br>
452	&nbsp	            Maden	<br>
453	&nbsp	            MafiA	<br>
454	&nbsp	            MagE-	<br>
455	&nbsp	          MagicaL	<br>
456	&nbsp	           MaGoma	<br>
457	&nbsp	            maiki	<br>
458	&nbsp	            Malik	<br>
459	&nbsp	           Mambos	<br>
460	&nbsp	            Mandy	<br>
461	&nbsp	     Mango_Banana	<br>
462	&nbsp	            MaNia	<br>
463	&nbsp	           Mantis	<br>
464	&nbsp	           maomao	<br>
465	&nbsp	             Marc	<br>
466	&nbsp	            March	<br>
467	&nbsp	         Mariachi	<br>
468	&nbsp	            marSu	<br>
469	&nbsp	         Masakary	<br>
470	&nbsp	         Masaros	<br>
471	&nbsp	           Masoku	<br>
472	&nbsp	            mason	<br>
473	&nbsp	       Masquerade	<br>
474	&nbsp	            Massacre	<br>
475	&nbsp	          Mastermind	<br>
476	&nbsp	             Mastery	<br>
477	&nbsp	                MaTa	<br>
478	&nbsp	              Matino	<br>
479	&nbsp	              Matrim	<br>
480	&nbsp	            Matthew	<br>
481	&nbsp	          MATUMBAMAN	<br>
482	&nbsp	     Maybe Next Time	<br>
483	&nbsp	                mdL	<br>
484	&nbsp	              Mel m	<br>
485	&nbsp	           Meliodas	<br>
486	&nbsp	           mellojul	<br>
487	&nbsp	       MelodyLovers	<br>
488	&nbsp	            Meracle	<br>
489	&nbsp	           mianmian	<br>
490	&nbsp	           Michael-	<br>
491	&nbsp	             miCKe	<br>
492	&nbsp	             MidOne	<br>
493	&nbsp	            miGGel	<br>
494	&nbsp	           miggeL.Z	<br>
495	&nbsp	             MiHawk	<br>
496	&nbsp	              Mikey	<br>
497	&nbsp	             Mikoto	<br>
498	&nbsp	              MiLAN	<br>
499	&nbsp	       MinD_ContRoL	<br>
500	&nbsp	            Minerva	<br>
501	&nbsp	               Mini	<br>
502	&nbsp	           Miposhka	<br>
503	&nbsp	           Miracle-	<br>
504	&nbsp	            Mirakel	<br>
505	&nbsp	             MISERY	<br>
506	&nbsp	              Misha	<br>
507	&nbsp	              Mitch	<br>
508	&nbsp	                MJW	<br>
509	&nbsp	               MMY!	<br>
510	&nbsp	                Mnz	<br>
511	&nbsp	               Mofi	<br>
512	&nbsp	              Monet	<br>
513	&nbsp	    monkeys-forever	<br>
514	&nbsp	                Moo	<br>
515	&nbsp	              Moogy	<br>
516	&nbsp	               mool	<br>
517	&nbsp	               Moon	<br>
518	&nbsp	          Moonlight	<br>
519	&nbsp	        MoonMeander	<br>
520	&nbsp	              MoZuN	<br>
521	&nbsp	                 MP	<br>
522	&nbsp	          Mr. Jeans	<br>
523	&nbsp	                 Ms	<br>
524	&nbsp	                MSS	<br>
525	&nbsp	                MTD	<br>
526	&nbsp	                MtR	<br>
527	&nbsp	                 Mu	<br>
528	&nbsp	             murdOc	<br>
529	&nbsp	              Mushi	<br>
530	&nbsp	             Mynuts	<br>
531	&nbsp	              MyPro	<br>
532	&nbsp	            MYSmoon	<br>
533	&nbsp	           N0tail	<br>
534	&nbsp	           Nafari	<br>
535	&nbsp	           Naive-	<br>
536	&nbsp	            Nando	<br>
537	&nbsp	      NapaleoshQa	<br>
538	&nbsp	         Natsumi-	<br>
539	&nbsp	             NeaR	<br>
540	&nbsp	          Nedbone	<br>
541	&nbsp	           Nefrit	<br>
542	&nbsp	            Negi	<br>
543	&nbsp	         nemphy	<br>
544	&nbsp	        NEQROMAN	<br>
545	&nbsp	             Net	<br>
546	&nbsp	        NeverEnd	<br>
547	&nbsp	       Nevermine	<br>
548	&nbsp	        Newsham	<br>
549	&nbsp	           Nexus	<br>
550	&nbsp	        Nikobaby	<br>
551	&nbsp	            Nine	<br>
552	&nbsp	     ninjaboogie	<br>
553	&nbsp	           Niqua	<br>
554	&nbsp	           Nisha	<br>
555	&nbsp	             Nix	<br>
556	&nbsp	              Nj	<br>
557	&nbsp	           No!ob	<br>
558	&nbsp	       NO_Chanc3	<br>
559	&nbsp	          Nofear	<br>
560	&nbsp	            Noia	<br>
561	&nbsp	        nongrata	<br>
562	&nbsp	            Nono	<br>
563	&nbsp	           Noone	<br>
564	&nbsp	           Notah	<br>
565	&nbsp	    NothingToSay	<br>
566	&nbsp	          NS-ART	<br>
567	&nbsp	             NT-	<br>
568	&nbsp	            NutZ	<br>
569	&nbsp	         Oceania	<br>
570	&nbsp	           Offak	<br>
571	&nbsp	          Ohaiyo	<br>
572	&nbsp	          okcya	<br>
573	&nbsp	     old chicken	<br>
574	&nbsp	        oldWhite	<br>
575	&nbsp	             Oli	<br>
576	&nbsp	      OmegaPwner	<br>
577	&nbsp	              Op	<br>
578	&nbsp	             Ori	<br>
579	&nbsp	         Origami	<br>
580	&nbsp	          Otaker	<br>
581	&nbsp	           Ouker	<br>
582	&nbsp	             Owa	<br>
583	&nbsp	           PAADA	<br>
584	&nbsp	           Pablo	<br>
585	&nbsp	         Pajkatt	<br>
586	&nbsp	          Pakazs	<br>
587	&nbsp	      Palantimos	<br>
588	&nbsp	           Palos	<br>
589	&nbsp	          Panda	<br>
590	&nbsp	        Pandaego	<br>
591	&nbsp	         Papita	<br>
592	&nbsp	             paS	<br>
593	&nbsp	            Patos	<br>
594	&nbsp	          PatSoul	<br>
595	&nbsp	              PCT	<br>
596	&nbsp	            Peksu	<br>
597	&nbsp	         Petru44o	<br>
598	&nbsp	             Piao	<br>
599	&nbsp	       pieliedie	<br>
600	&nbsp	         Pikachu	<br>
601	&nbsp	      Pingvincek	<br>
602	&nbsp	           PiNoY	<br>
603	&nbsp	             Pio	<br>
604	&nbsp	           pio65	<br>
605	&nbsp	        PlayHard	<br>
606	&nbsp	        PlaymatE	<br>
607	&nbsp	            plov	<br>
608	&nbsp	         Poloson	<br>
609	&nbsp	             ppd	<br>
610	&nbsp	           Prada	<br>
611	&nbsp	       PrettyHaw	<br>
612	&nbsp	    profheadshot	<br>
613	&nbsp	         Protoss	<br>
614	&nbsp	             PSM	<br>
615	&nbsp	        PuberrrR	<br>
616	&nbsp	        Puer tea	<br>
617	&nbsp	          Puppey	<br>
618	&nbsp	             pwN	<br>
619	&nbsp	            Pyue	<br>
620	&nbsp	           pYung	<br>
621	&nbsp	             Pyw	<br>
622	&nbsp	               Q	<br>
623	&nbsp	             QAZ	<br>
624	&nbsp	        qianqian	<br>
625	&nbsp	              QO	<br>
626	&nbsp	          qojqva	<br>
627	&nbsp	           Quinn	<br>
628	&nbsp	            Qupe	<br>
629	&nbsp	          QwisTa	<br>
630	&nbsp	            r1sk	<br>
631	&nbsp	            r5r5	<br>
632	&nbsp	              R7	<br>
633	&nbsp	          Rabbit	<br>
634	&nbsp	             RAI	<br>
635	&nbsp	          Rajjix	<br>
636	&nbsp	         Rakuzan	<br>
637	&nbsp	            Ramz	<br>
638	&nbsp	       RAMZES666	<br>
639	&nbsp	             Ran	<br>
640	&nbsp	         Rap Rap	<br>
641	&nbsp	            Rapy	<br>
642	&nbsp	           Raven	<br>
643	&nbsp	         Raykill	<br>
644	&nbsp	       Raylalisa	<br>
645	&nbsp	             RdO	<br>
646	&nbsp	        ReaLaxXx	<br>
647	&nbsp	          Reaves	<br>
648	&nbsp	             Red	<br>
649	&nbsp	        RedPanda	<br>
650	&nbsp	           Reelo	<br>
651	&nbsp	          Reesion	<br>
652	&nbsp	           Reisen	<br>
653	&nbsp	       Resolut1on	<br>
654	&nbsp	     Retribution	<br>
655	&nbsp	             Rime	<br>
656	&nbsp	              rin	<br>
657	&nbsp	            Riser	<br>
658	&nbsp	            Ritsu	<br>
659	&nbsp	              RMC	<br>
660	&nbsp	          Robo-Z	<br>
661	&nbsp	        Roddgeee	<br>
662	&nbsp	          RodjER	<br>
663	&nbsp	     RogerDodger	<br>
664	&nbsp	            Rong	<br>
665	&nbsp	             Roy	<br>
666	&nbsp	              RR	<br>
667	&nbsp	           Runec	<br>
668	&nbsp	          Rusman	<br>
669	&nbsp	           Ryoya	<br>
670	&nbsp	           ryOyr	<br>
671	&nbsp	       RyuUboruZ	<br>
672	&nbsp	           Ryuya	<br>
673	&nbsp	            Ryze	<br>
674	&nbsp	              s4	<br>
675	&nbsp	     SabeRLight-	<br>
676	&nbsp	       sad tomat	<br>
677	&nbsp	    SaintDeLucaz	<br>
678	&nbsp	          Sakata	<br>
679	&nbsp	           Saksa	<br>
680	&nbsp	           Sam_H	<br>
681	&nbsp	        Sammyboy	<br>
682	&nbsp	          Samsam	<br>
683	&nbsp	        SangSang	<br>
684	&nbsp	           Santa	<br>
685	&nbsp	      sanyaquez	<br>
686	&nbsp	            Save	<br>
687	&nbsp	           Save-	<br>
688	&nbsp	           sayuw	<br>
689	&nbsp	         Scandal	<br>
690	&nbsp	            Sccc	<br>
691	&nbsp	        Scofield	<br>
692	&nbsp	        SCripted	<br>
693	&nbsp	         Sealkid	<br>
694	&nbsp	           Sedoy	<br>
695	&nbsp	           Sehny	<br>
696	&nbsp	          SeleCT	<br>
697	&nbsp	          Seleri	<br>
698	&nbsp	       September	<br>
699	&nbsp	            Seri	<br>
700	&nbsp	           Setsu	<br>
701	&nbsp	      SexyBamboe	<br>
702	&nbsp	         Shachlo	<br>
703	&nbsp	            Shad'	<br>
704	&nbsp	          Shaker	<br>
705	&nbsp	         Shaking	<br>
706	&nbsp	          Shanks	<br>
707	&nbsp	          Sharky	<br>
708	&nbsp	          shatan	<br>
709	&nbsp	        Shiibbyy	<br>
710	&nbsp	              Shiki	<br>
711	&nbsp	            Shining	<br>
712	&nbsp	            ShinymF	<br>
713	&nbsp	              ShØwT	<br>
714	&nbsp	              Sifla	<br>
715	&nbsp	             Silent	<br>
716	&nbsp	           SingSing	<br>
717	&nbsp	              Sirc	<br>
718	&nbsp	            Siumang	<br>
719	&nbsp	      Skadilicious	<br>
720	&nbsp	              skem	<br>
721	&nbsp	            skiter	<br>
722	&nbsp	               Sky	<br>
723	&nbsp	           SkyLark	<br>
724	&nbsp	           sl4d1n-	<br>
725	&nbsp	           slahser	<br>
726	&nbsp	           Slander	<br>
727	&nbsp	       SlashStrike	<br>
728	&nbsp	            Slayer	<br>
729	&nbsp	            SLiCKz	<br>
730	&nbsp	           Sm1Ley	<br>
731	&nbsp	             SmAsH	<br>
732	&nbsp	    Smiling Knight	<br>
733	&nbsp	        smulgullig	<br>
734	&nbsp	          Sneyking	<br>
735	&nbsp	            Snoopy	<br>
736	&nbsp	            so bad	<br>
737	&nbsp	             Sober	<br>
738	&nbsp	              SOhY	<br>
739	&nbsp	             Solen	<br>
740	&nbsp	          Solitude	<br>
741	&nbsp	              Solo	<br>
742	&nbsp	           SoLotic	<br>
743	&nbsp	          Somnus丶M	<br>
744	&nbsp	          SoNNeikO	<br>
745	&nbsp	            Sooths	<br>
746	&nbsp	             spacy	<br>
747	&nbsp	              Spin	<br>
748	&nbsp	           Splicko	<br>
749	&nbsp	               Srf	<br>
750	&nbsp	            SryFox	<br>
751	&nbsp	        SsaSpartan	<br>
752	&nbsp	               sss	<br>
753	&nbsp	             STABA	<br>
754	&nbsp	         Stan King	<br>
755	&nbsp	           State21	<br>
756	&nbsp	              Stay	<br>
757	&nbsp	        Steffstyle	<br>
758	&nbsp	           StingeR	<br>
759	&nbsp	            Stizer	<br>
760	&nbsp	         Stomanen1	<br>
761	&nbsp	      Stormstormer	<br>
762	&nbsp	         Strangby	<br>
763	&nbsp	       strawberry	<br>
764	&nbsp	       sugar baby	<br>
765	&nbsp	            SumaiL	<br>
766	&nbsp	        Sunlight	<br>
767	&nbsp	             Super	<br>
768	&nbsp	          Supream^	<br>
769	&nbsp	            Supreme	<br>
770	&nbsp	                SVG	<br>
771	&nbsp	        Swiftending	<br>
772	&nbsp	             Swifty	<br>
773	&nbsp	              Sword	<br>
774	&nbsp	            Syeonix	<br>
775	&nbsp	              Sylar	<br>
776	&nbsp	              Taiga	<br>
777	&nbsp	            TANNER	<br>
778	&nbsp	           tatakae	<br>
779	&nbsp	              tavo	<br>
780	&nbsp	                TC	<br>
781	&nbsp	            Teehee	<br>
782	&nbsp	            TEKCOR	<br>
783	&nbsp	        The_apathy	<br>
784	&nbsp	      TheChosenOne	<br>
785	&nbsp	          Therence	<br>
786	&nbsp	         Thiolicor	<br>
787	&nbsp	              ThuG	<br>
788	&nbsp	       TidesofTime	<br>
789	&nbsp	            Timado	<br>
790	&nbsp	          Time2Die	<br>
791	&nbsp	              Tims	<br>
792	&nbsp	              Tino	<br>
793	&nbsp	               tmt	<br>
794	&nbsp	               tnt	<br>
795	&nbsp	              Tobi	<br>
796	&nbsp	              Toei	<br>
797	&nbsp	              Tone	<br>
798	&nbsp	    TooFuckingGood	<br>
799	&nbsp	            Topson	<br>
800	&nbsp	             Tralf	<br>
801	&nbsp	             Trixi	<br>
802	&nbsp	             Tudi	<br>
803	&nbsp	             Tulex	<br>
804	&nbsp	             Turbo	<br>
805	&nbsp	             TuTu	<br>
806	&nbsp	            twiSta	<br>
807	&nbsp	               Tzy	<br>
808	&nbsp	              ubah	<br>
809	&nbsp	              ufir	<br>
810	&nbsp	        UnderShock	<br>
811	&nbsp	       unicornxoxo	<br>
812	&nbsp	          Universe	<br>
813	&nbsp	               USH	<br>
814	&nbsp	         USHUSHUSH	<br>
815	&nbsp	            V-Tune	<br>
816	&nbsp	            Vaalix	<br>
817	&nbsp	               Van	<br>
818	&nbsp	           VANSKOR	<br>
819	&nbsp	             Varen	<br>
820	&nbsp	            Varizh	<br>
821	&nbsp	           velheor	<br>
822	&nbsp	              Velo	<br>
823	&nbsp	           Vicoros	<br>
824	&nbsp	            Vigoss	<br>
825	&nbsp	            Visery	<br>
826	&nbsp	            Vivian	<br>
827	&nbsp	            Vlaicu	<br>
828	&nbsp	          vtFαded	<br>
829	&nbsp	            W1sh-	<br>
830	&nbsp	              w33	<br>
831	&nbsp	            Waixi	<br>
832	&nbsp	           Warlog	<br>
833	&nbsp	        Waytosexy	<br>
834	&nbsp	       wejustzik	<br>
835	&nbsp	             Welp	<br>
836	&nbsp	             Wenn	<br>
837	&nbsp	      whiteBeard	<br>
838	&nbsp	        Whitemon	<br>
839	&nbsp	             Wij	<br>
840	&nbsp	           Windx	<br>
841	&nbsp	          Wisper	<br>
842	&nbsp	          Wizard	<br>
843	&nbsp	              Wu	<br>
844	&nbsp	       wwieWambo	<br>
845	&nbsp	           XaKoH	<br>
846	&nbsp	          xannii	<br>
847	&nbsp	        Xcalibur	<br>
848	&nbsp	             XCJ	<br>
849	&nbsp	             XDD	<br>
850	&nbsp	        XemistrY	<br>
851	&nbsp	           Xenon	<br>
852	&nbsp	          Xepher	<br>
853	&nbsp	        xFreedom	<br>
854	&nbsp	              Xi	<br>
855	&nbsp	        xiangzai	<br>
856	&nbsp	         xiaofu	<br>
857	&nbsp	    XiaoXiaoSala	<br>
858	&nbsp	           Xibbe	<br>
859	&nbsp	            XinQ	<br>
860	&nbsp	            xixi	<br>
861	&nbsp	          xLucky	<br>
862	&nbsp	              Xm	<br>
863	&nbsp	         xMusiCa	<br>
864	&nbsp	           xNova	<br>
865	&nbsp	            xRag	<br>
866	&nbsp	       XSvamp1Re	<br>
867	&nbsp	            XuAn	<br>
868	&nbsp	            xuan	<br>
869	&nbsp	            Xxs	<br>
870	&nbsp	             xy-	<br>
871	&nbsp	              Xz	<br>
872	&nbsp	              y`	<br>
873	&nbsp	          Yabyoo	<br>
874	&nbsp	          Yadomi	<br>
875	&nbsp	            yaha	<br>
876	&nbsp	             yAj	<br>
877	&nbsp	         YamateH	<br>
878	&nbsp	          yamich	<br>
879	&nbsp	            Yang	<br>
880	&nbsp	         YaphetS	<br>
881	&nbsp	          YapzOr	<br>
882	&nbsp	            Yasy	<br>
883	&nbsp	           YawaR	<br>
884	&nbsp	           yChen	<br>
885	&nbsp	            Yds.	<br>
886	&nbsp	             Yel	<br>
887	&nbsp	            Yin	<br>
888	&nbsp	          yoky-	<br>
889	&nbsp	            yol	<br>
890	&nbsp	          yoona	<br>
891	&nbsp	          Yopaj	<br>
892	&nbsp	        young G	<br>
893	&nbsp	           Yowe	<br>
894	&nbsp	             Yp	<br>
895	&nbsp	            YRG	<br>
896	&nbsp	         Ysaera	<br>
897	&nbsp	            yxb	<br>
898	&nbsp	            yxm	<br>
899	&nbsp	            YYF	<br>
900	&nbsp	          Zacky	<br>
901	&nbsp	            zai	<br>
902	&nbsp	          Zayac	<br>
903	&nbsp	           Zeal	<br>
904	&nbsp	       Zenigata	<br>
905	&nbsp	    ZeroPerfect	<br>
906	&nbsp	         Zfreek	<br>
907	&nbsp	           zhi!	<br>
908	&nbsp	           Zhou	<br>
909	&nbsp	        Zitraks	<br>
910	&nbsp	          Zizou	<br>
911	&nbsp	           ZSMJ	<br>
912	&nbsp	           Ztok	<br>
913	&nbsp	            zxc	<br>
914	&nbsp	            Zyd	<br>
915	&nbsp	           Zyzz	<br>
916	&nbsp	           Женя	<br>
917	&nbsp	        чикиряу	<br>
918	&nbsp	              一	<br>
919	&nbsp	           圣子华炼	<br>
920	&nbsp	            垃圾君	<br>
921	&nbsp	             天命	<br>
922	&nbsp	            小郭嘉	<br>
923	&nbsp	            白学家	<br>
924	&nbsp	            闷油瓶	<br>
925	&nbsp	             阿香	<br>
926	&nbsp	            黑凤梨	<br>
927 &nbsp               Allison <br>
928 &nbsp               mars <br>
929 &nbsp               rmN- <br>


    </div>
    <div class="col-md-4">
        <h2><b>Hero</b></h2>
        Antimage - am <br>
        Arc Warden - aw <br>
        Bane - bane <br>
        Bloodseeker - bs <br>
        Bounty Hunter - bh <br>
        Broodmother - bro <br>
        Clinkz - cli <br>
        Drow Ranger - dr <br>
        Ember Spirit - emb <br>
        Faceless Void - fv <br>
        Gyrocopter - gyro <br>
        Juggernaut - jug <br>
        Lone Druid - ld <br>
        Medusa - med <br>
        Mirana - mir <br>
        Monkey King - mk <br>
        Morphling - morp <br>
        Naga Siren - naga <br>
        Nyx Assassin - na <br>
        Pangolier - pan <br>
        Phantom Assassin - pa <br>
        Phantom Lancer - pl <br>
        Razor - raz <br>
        Riki - rik <br>
        Shadow Fiend - sf <br>
        Slark - slk <br>
        Sniper - sni <br>
        Spectre - spe <br>
        Templar Assassin - ta <br>
        Terrorblade - tb <br>
        Troll Warlord - tw <br>
        Vengeful Spirit - vs <br>
        Venomancer - veno <br>
        Weaver - wea <br>
        Abaddon - aba <br>
        Alchemist - alc <br>
        Beastmaster - bst <br>
        Brewmaster - brew <br>
        Bristleback - bb <br>
        Centaur Warrunner - cent <br>
        Chaos Knight - ck <br>
        Clockwerk - cw <br>
        Dragon Knight - dk <br>
        Earth Spirit - esp <br>
        Earthshaker - es <br>
        Elder Titan - et <br>
        Huskar - hus <br>
        Kunkka - kun <br>
        Legion Commander - lc <br>
        Lifestealer - ls <br>
        Lycan - lyc <br>
        Magnus - mag <br>
        Night Stalker - ns <br>
        Omniknight - omni <br>
        Sand King - sk <br>
        Slardar - sld <br>
        Spirit Breaker - sb <br>
        Tidehunter - tide <br>
        Timbersaw - tim <br>
        Tiny - tin <br>
        Treant Protector - tp <br>
        Underlord - ul <br>
        Undying - ud <br>
        Wraith King - wk <br>
        Ancient Apparition - aa <br>
        Batrider - bat <br>
        Crystal Maiden - cm <br>
        Dark Seer - ds <br>
        Dark Willow - dw <br>
        Dazzle - daz <br>
        Death Prophet - dp <br>
        Disruptor - dis <br>
        Enchantress - ench <br>
        Enigma - eni <br>
        Grimstroke - gs <br>
        Invoker - inv <br>
        Jakiro - jak <br>
        Keeper of the Light - kotl <br>
        Leshrac - lesh <br>
        Lina - lin <br>
        Lion - lion <br>
        Nature's Prophet - np <br>
        Necrolyte - nec <br>
        Ogre Magi - ogre <br>
        Oracle - ora <br>
        Outworld Devourer - od <br>
        Phoenix - phx <br>
        Pugna - pug <br>
        Queen of Pain - qop <br>
        Rubick - rub <br>
        Shadow Demon - sd <br>
        Shadow Shaman - ss <br>
        Silencer - sil <br>
        Skywrath Mage - sky <br>
        Storm Spirit - sto <br>
        Techies - tec <br>
        Tinker - tk <br>
        Tusk - tusk <br>
        Ursa - urs <br>
        Visage - vis <br>
        Warlock - wl <br>
        Witch Doctor - wd <br>
        Winter Wyvern - ww <br>
        Windrunner - wr <br>
        IO - io <br>
        Doom - doom <br>
        Snapfire - snf <br>
        Sven - sv <br>
        Puck - puck <br>
        Chen - chen <br>
        Viper vipe <br>
        Mars - mars <br>
        Void Spirit - vspr <br>
        Ogre Magi - om <br>
        Zeus - zeus <br>
        Luna - lun <br>
        Axe - axe <br>
        Lich - lich <br>
    </div>
    <div class="col-md-4">
        <h2><b>Team</b></h2>
        1 &nbsp 4 Zoomers <br>
        2 &nbsp CR4ZY <br>
        3 &nbsp Evil Geniuses <br>
        4 &nbsp Quincy Crew <br>
        5 &nbsp Team Xolotl <br>
        6 &nbsp beastcoast <br>
        7 &nbsp EgoBoys <br>
        8 &nbsp Gorillaz-Pride <br>
        9 &nbsp Havan Liberty <br>
        10 &nbsp Incubus Club <br>
        11 &nbsp Infamous <br>
        12 &nbsp Infinity Esports <br>
        13 &nbsp Team Unknown <br>
        14 &nbsp Thunder Predator <br>
        15 &nbsp Alliance <br>
        16 &nbsp HAVU Gaming <br>
        17 &nbsp Hippomaniacs <br>
        19 &nbsp Ninjas in Pyjamas <br>
        20 &nbsp OG <br>
        21 &nbsp Team Liquid <br>
        22 &nbsp Team Nigma <br>
        23 &nbsp Team Secret <br>
        24 &nbsp Tempo Esports <br>
        25 &nbsp Vikin.gg <br>
        26 &nbsp Zero Respect <br>
        27 &nbsp B8 <br>
        28 &nbsp Burning Fire <br>
        29 &nbsp Cascade <br>
        30 &nbsp Cyber Legacy <br>
        31 &nbsp Cyberium <br>
        32 &nbsp Cyberium Seed <br>
        33 &nbsp EXTREMUM <br>
        34 &nbsp FlyToMoon <br>
        35 &nbsp Gambit Esports <br>
        36 &nbsp HellRaisers <br>
        37 &nbsp Husky eSports <br>
        38 &nbsp Khan <br>
        39 &nbsp Natus Vincere <br>
        40 &nbsp Nemiga Gaming <br>
        41 &nbsp NOVA <br>
        42 &nbsp SMARACIS Esports <br>
        43 &nbsp Team Empire <br>
        44 &nbsp Team Odd <br>
        45 &nbsp Team Spirit <br>
        46 &nbsp Team Unique <br>
        47 &nbsp TPB <br>
        48 &nbsp Virtus.pro <br>
        49 &nbsp VP.Prodigy <br>
        50 &nbsp Winstrike Team <br>
        51 &nbsp Aster.Aries <br>
        52 &nbsp CDEC Gaming <br>
        53 &nbsp EHOME <br>
        54 &nbsp EHOME.Immortal<br>
        55 &nbsp For The Dream <br>
        56 &nbsp iG Vitality <br>
        57 &nbsp Invictus Gaming <br>
        58 &nbsp Newbee <br>
        59 &nbsp PSG.LGD <br>
        60 &nbsp Royal Never Give Up <br>
        61 &nbsp Sparking Arrow Gaming <br>
        62 &nbsp Team Aster <br>
        63 &nbsp Team Sirius <br>
        64 &nbsp The New Top <br>
        65 &nbsp Vici Gaming <br>
        66 &nbsp You Know Who <br>
        67 &nbsp 496 Gaming <br>
        68 &nbsp Adroit Esports <br>
        69 &nbsp BOOM Esports <br>
        70 &nbsp Cignal Ultra <br>
        71 &nbsp Execration <br>
        72 &nbsp Fnatic <br>
        73 &nbsp LGD.int <br>
        74 &nbsp Motivate.Trust Gaming <br>
        75 &nbsp MS Chonburi <br>
        76 &nbsp Neon Esports <br>
        77 &nbsp PG.Barracx <br>
        78 &nbsp Question Mark <br>
        79 &nbsp Reckoning Esports <br>
        80 &nbsp T1 <br>
        81 &nbsp Team Oracle <br>
        82 &nbsp Team Veteran <br>
        83 &nbsp The Prime <br>
        84 &nbsp TNC Predator <br>
        85 &nbsp 5men <br>


    </div>
</div>



{% endblock content %}